.form-group-sm > label{
    margin-bottom: 15px;
}

.form-group-sm > label.is-invalid{
    margin-bottom: .0rem !important;
}
label.is-invalid{
    color: #dc3545;
}
.form-group-sm{
    margin-bottom: 4px;
}
.input-group-text-sm{
    height: calc(1.5em + .55rem + 2px);
    /* background-color: aqua; */
    font-size:.85rem !important;
    padding: .15rem .25rem !important;
}

.is-invalid.invalid-feedback{
    display: block;
} 

.invalid-feedback {
    /* margin-top: 0 !important; */
}

select.form-control.form-control-sm{
    height: 2rem !important;
    padding: 5px 5px !important;
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 2rem;
    user-select: none;
    -webkit-user-select: none; 
    min-height: 2rem;}

/* line 131 */
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 2rem; 
    padding-left: 10px;
}
    
/* line 139 */
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 2rem;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px; }
.select2-selection__arrow{
    min-height: 2rem !important;
}
.is-invalid .select2-selection {
    border-color: rgb(185, 74, 72) !important;
}
.form-control-read{
        
    border-bottom: 2px dotted #a5aaaf !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    background-color: inherit !important;

}
